.about {
    background-color: white;
    color: black;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.ulist {
    text-align: left;
    margin-left: 30px;
    line-height: 1.8;
}

.about h2 {
    text-align: center;
    color: #5c7cba;
    margin-bottom: 25px;
}

.about h4 {
    text-align: left;

}