.navbar {

    background-color: #2563eb;

    padding: 25px;
}

.nav-links {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 40px;
}

.nav-links a {

    color: white;

    text-decoration: none;

    font-size: 22px;

    font-weight: bold;
}

.logout-btn {

    padding: 12px 22px;

    border: none;

    border-radius: 10px;

    background-color: red;

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;
}